/* ................
     font styling
.................... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/*....................
     first section
......................*/
.container{
    display: flex;
    background-color: blueviolet;
    height: 680px;
    justify-content: center;
    
}
.half-width{
    width: 50%;
}

.half-width img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    /* margin-left: 102px; */
}
.half-width img:hover{
    border: 5px solid mediumvioletred;
}

h1{
    width: 485px;
    height: 230px;
    padding-left: 156px;
    padding-top: 207px;
    font-size: 64px;
    line-height: 80px;
}
h1:hover{
    text-decoration-line: underline;
}
button{
    width: 168px;
    height: 44px;
    background-color: rgba(224, 44, 109, 1);
    margin-top: 27px;
    margin-left: 156px;
}
button:hover{
    border: 5px solid midnightblue;
}
/* ............................
............second section......
................................ */
.sched{
    color: blueviolet;
    background-color: black;
    margin-top: 50px;
    
}
.schedule{
    display: flex;
    justify-content: center;
    align-content: center;
    border:5px solid rgb(88, 74, 56);
}
h5{
    font-size: 20px;
}
h5:hover .time{
    display:block;
    background-color: burlywood;
}
.time{
    display: none;
}
/* ...............................
........third section.............
.................................. */
.container-pl{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.players-profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;

}
 .players{
    width: 330px;
    height: 474px;
    border: 2px solid rgb(102, 99, 99) ;
    padding-left: 15px;
    display: flex;
    align-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    /* box-shadow: 5px 5px 5px 5px rgb(238, 237, 237); */
} 
.players img{
    width:300px;
    height: 50%;
    padding-top: 15px;
}

h3{
    font-size: 54px;
    line-height: 80px;
}
/* ...................................
........fourth section..............
.................................... */
.container-1{
    display: flex;
    justify-content: center;
    padding-top: 165px;
} 
.last-sec{
    width: 100%;
    display: flex;
}
.third-sec{
    width: 50%;
    padding-left:62px;
}
#text{
    width: 485px;
    height: 230px; 
    margin-top: 50px;
    margin-left: 106px;
    margin-bottom: 27px;
}
.third-sec img{
    height: 427px;
    width: 567px;
    left: 717px;
    top: 2889px;
    border-radius: 0px;

}  
#b2{
    width: 168px;
    height: 44px;
    background-color: rgba(224, 44, 109, 1);
    margin-top: 27px;
    margin-left: 156px;
}
/* ..................................
.......fifth section................
...................................... */
.container-rank{
    justify-content: center;
    align-content: center;
    background-color: rgb(45, 59, 45);
    margin-top: 100px;
}
.rank{
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    
}

.half-class{
    width: 50%;
    margin-top: 40px;
}
.countries{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
}

.counrty{
    display: flex;
}
.counrty img{
    width: 50px;
    height:50px;
}
.name{
    margin-left: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: burlywood;
}
.name:hover {
    transform: scale(1.2);
}
#left-wing:hover{
    width: 100px;
    height: 60px;
    padding-left: 20px;
    background-color:turquoise ;
    transform: scale(2);
    transition: transform 2s;
}
.container-foot{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 158px;
}
.sec-end{
    display: flex;
    flex-direction: column;
}
/* .....................................
................footer section................
......................................... */
.foot-div{
    padding-left: 230px;
}
#copy{
    padding-left: 80px;
}

/* ....................................................
..........media query.................................. */
@media only screen and (max-width: 786px){
    .container{
        width: 786px;
        height: 1200px;
        flex-direction: column;
    }
    .sched{
        width:786px;
    }
    .players-profile{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 300px;
    }
    .players{
        flex-direction: column;
    }
    .last-sec{
        width: 786px;
        flex-direction: column;
        margin-left: 100px;
    }
    .third-sec img{
        margin-left: 120px;
        margin-top: 50px;
    }
    .container-rank{
        width: 786px;
        background-color:rgb(45, 59, 45) ;
    }
    .rank{
        flex-direction: column;
        padding-left: 50px;
    }
    .half-class{
        padding-left: 50px;
    }
    .container-foot{
        width: 786px;
    }
    .foot-img img{
        width: 600px;
        left: 50px;
        justify-content: center;
    }
    .foot-div{
        padding-left: 120px;
    }
    #copy{
        padding-left: 80px;
    }
    
}
    
